.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding-top: 12px;
  max-width: 631px;
  height: 588px;
  overflow-y: auto;
}

.titleBox {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--badges);

  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--button);
}

.name {
  font-weight: 500;
  color: var(--main);
  margin-bottom: 4px;
}
