.featuresContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 30px 20px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--inputs);
}

.badgesBox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  overflow-y: auto;
}

.badge {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  padding: 12px 18px;
  background-color: var(--badges);
  mix-blend-mode: multiply;
}

.badgeIcon {
  fill: var(--main);
}

.badgeIconEmpty {
  stroke: var(--main);
  fill: transparent;
}

.badgeText {
  font-weight: 500;
  font-size: 14px;
  color: var(--main);
  text-transform: capitalize;
}

.detailsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 24px;
}

.detailsValueBox {
  padding-top: 24px;
  border-top: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detailsValue {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.detailsText {
  font-weight: 500;
  color: var(--main);
}

@media only screen and (min-width: 1440px) {
  .featuresContainer {
    padding: 44px 52px;
    max-width: 631px;
    height: 588px;
  }

  .badgesBox {
    max-height: 160px;
  }

  .badgeText {
    font-size: 16px;
  }
}
