.hero {
  padding: 130px 0;
  background-image: url("/images/hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 2x) {
  .hero {
    background-image: url("/images/hero-2x.webp");
  }
}

.heroTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-gray-100);
  margin-bottom: 20px;
}

.heroText {
  font-weight: 600;
  font-size: 20px;
  line-height: 133%;
  color: var(--color-gray-100);
  margin-bottom: 40px;
}

.heroLink {
  display: inline-block;
  border-radius: 200px;
  padding: 16px 49px;
  background-color: var(--button);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--color-white);

  transition: color 250ms ease;

  &:hover,
  &:focus {
    background-color: var(--button-hover);
  }

  &:active {
    background-color: var(--button);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    padding: 260px 0;
  }

  .heroTitle {
    font-size: 48px;
    line-height: 67%;
    margin-bottom: 16px;
  }

  .heroText {
    font-size: 24px;
  }
}

/* Styles for pages error and not-found */
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.buttonError {
  display: block;
  margin: 0 auto;
}
