.catalog {
  padding-top: 48px;
  padding-bottom: 52px;
}

.containerCatalog {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.btnFilters {
}

@media only screen and (min-width: 768px) {
  .btnFilters {
    display: none;
  }

  .containerCatalog {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
  }
}
